
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

.h1{
    color:burlywood;
    text-shadow: 2px 1px rgb(97, 82, 62);
    
}
.Pay{
    font-family: 'Roboto Condensed', sans-serif;
    
}